* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 76, 100);
}

.main {
    border: 1px solid white;
    margin: 20px auto;
    width: 600px;
    height: 602px;
    
}

.main div {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 50%;
}

#red {
    background-color: red;
    position: relative;
    animation: mmain;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

}
@keyframes mmain {
    0% {top: -250px}
    50% {top: 100px;}   
    100% {top: 0px;}   
}


#yellow {
    background-color: yellow;
    animation: Btn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes Btn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


#green {
    background-color: green;
    animation: spin;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes spin { 
    50% { -webkit-transform: rotateY(90deg); transform:rotateY(90deg); }
}

/*HINT -   transform: rotateY(0deg);*/
